<div class="container d-flex flex-column align-items-center">
  <div class="col-6">
   <img src="/assets/img/pageNotFound.png" class="img-fluid">
  </div>
  <h1 class="text-center">Page not found</h1>
  <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
    <button class="btn btn-primary d-flex">Go Home</button>
  </NavLink>
</div>