@page "/"
@using SuperheroClient.Repository
@inject IHeroRepository repository

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


@code{
  override protected async Task OnInitializedAsync(){
    var x = await repository.getHero(-1);
    
  }
}